<footer>
  <div class="small-footer-logo">
    <img src="/assets/images/taptinologo.png" />
  </div>
  <div class="footer-data">
    <ul class="contacts">
      <li><a href="mailto:info@taptino.com">info&#64;taptino.com</a></li>
    </ul>
    <ul class="infos">
      <li>Privacy Policy</li>
      <li class="infos-logo"><img src="/assets/images/taptinologo.png" /></li>
      <li>Terms & Conditions</li>
    </ul>
    <ul class="copyright">
      <li>TapTino © 2025</li>
    </ul>
  </div>
</footer>
