<section class="tpt-grid">
  <section class="tpt-cell-12 tpt-landing-section">
    <span class="title">TapTino</span>
    <div></div>
  </section>
  <section class="tpt-cell-12 tpt-strengths-section">
    <div></div>
    <div></div>
    <div></div>
  </section>
  <section class="tpt-grid tpt-contacts-section">
    <div class="tpt-cell-6">
      <span class="title">Chi siamo?</span>
      <br />
      <span>Tutto per creare soluzioni innovative che migliorino la vita delle persone.</span>
      <br />
      <span>Per noi innovare significa prendersi cura: con la mente, la tecnologia giusta e un obiettivo chiaro.</span>
      <br />
      <span>Aiutaci a supportare la ricerca!.</span>
    </div>
    <div class="tpt-cell-6">
      <tpt-contact-form (onSubmit)="handleSubmit($event)" />
    </div>
  </section>
</section>
