@import "variables";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  > section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem;
    padding-top: 0;
    min-width: $mobile;
    width: 120rem;
    max-width: 120rem;

    > .tpt-landing-section {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - $header-height);

      > .title {
        font-size: 10vmax;
        font-weight: 600;
        margin-bottom: 2rem;
        -webkit-background-clip: text;
        background-clip: text;
        background-color: $tpt-color-300;
        background-image: linear-gradient(180deg, #e87e0c 50%, #e3e3e3 100%); //linear-gradient(180deg, $tpt-color-300 50%, $tpt-color-600 100%);
        background-size: 100%;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        color: transparent;
      }

      // > .subtitle {
      //   font-size: 2rem;
      //   font-weight: 400;
      //   color: $tpt-color-400;
      //   margin-bottom: 2rem;
      // }

      > div {
        height: 100%;
        background: url("assets/images/device.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    > .tpt-strengths-section {
      display: flex;
      width: 100%;
      aspect-ratio: 2.4;
      gap: 1rem;
      justify-content: space-between;
      align-items: stretch;

      > div {
        width: 30%;
        aspect-ratio: 1;
        background-color: #e87e0c;

        &:first-child {
          align-self: flex-start;
        }

        &:nth-child(2) {
          align-self: center;
        }

        &:last-child {
          align-self: flex-end;
        }
      }
    }
  }

  @media (max-width: $desktop-large) {
    > section {
      > .tpt-landing-section > div {
        background-position: top;
      }
    }
  }
}
