<section>
  <section class="tpt-landing-section">
    <span class="title">TapTino</span>
    <div class="exposition">
      <div class="rosette">
        <img src="assets/images/rosette.png" />
        <span>A misura di...<br />ADHD!</span>
      </div>
    </div>
    <div class="scroll-arrow">
      <svg fill="none" height="32" viewBox="0 0 24 24" width="32">
        <path d="M12 5v14M12 19l-7-7M12 19l7-7" stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
      </svg>
    </div>
  </section>
  <section class="tpt-strengths-section">
    <div>
      <img src="assets/images/circles.png" />
      <span>Canalizza l'energia, accende la concentrazione!</span>
    </div>
    <div>
      <img src="assets/images/sketch.png" />
      <span>Uno strumento terapeutico divertente ed efficace!</span>
    </div>
    <div>
      <img src="assets/images/blue-dot.png" />
      <span>Piccolo e portatile!</span>
    </div>
  </section>
  <section class="tpt-grid tpt-contacts-section">
   <div class="tpt-cell-6">
  <span class="title">Chi siamo?</span>
  <span>
    Siamo tre studenti di Bicocca che hanno deciso di lanciarsi nel mondo delle startup con TapTino!
  </span>
  <br />
  <span>
    Dopo aver partecipato al percorso iBicocca che ci ha portato a presentare il nostro progetto davanti a numerosi investitori, <br />parteciperemo a BiUniCrowd, un percorso che ci porterà a capire come lanciare una campagna di crowdfunding per finanziare il nostro progetto.
  </span>
  <br />
  <span>Aiutaci a supportare la ricerca!</span>
</div>

<div class="tpt-cell-6">
  <span class="title">Contattaci se sei interessato a collaborare con noi o richiedere una demo!</span>
  <tpt-contact-form
    [submitResult]="contactPostResult$ | async"
    (onSubmit)="handleSubmit($event)"
  />
</div>

    </div>
  </section>
</section>
