<section class="tpt-grid">
  <section class="tpt-cell-12 tpt-main-section">
    <span class="title">TapTino</span>
    <img src="/assets/images/homeshow.png" />
  </section>
  <section class="tpt-cell-12 tpt-sub-section">
    <div>
      <span>Prodotto (titolo provvisorio)</span>
    </div>
    <div class="tpt-grid">
      <div class="tpt-cell-4"></div>
      <div class="tpt-cell-4"></div>
      <div class="tpt-cell-4"></div>
    </div>
  </section>
  <section class="tpt-cell-12 tpt-sub-section">
    <div>
      <span>Contatti (titolo provvisorio)</span>
    </div>
    <div class="tpt-grid">
      <div class="tpt-cell-8"></div>
      <div class="tpt-cell-4">
        <tpt-contact-form (onSubmit)="handleSubmit($event)" />
      </div>
    </div>
  </section>
</section>
