@import "variables";

:host {
  form {
    padding-top: 1rem;

    .form-footer {
      padding: 1rem;
      padding-bottom: 0;

      > span {
        text-align: center;
        color: $tpt-color-error;

        &.positive-result {
          color: #17ae28;
        }
      }
    }
  }

  @media (max-width: $mobile-large) {
    .tpt-cell-6 {
      grid-column-end: span 12;
    }

    form {
      .form-footer {
        padding: 0;

        > tpt-button {
          width: 100%;
        }
      }
    }
  }
}
