<span class="error-code">404</span>
<span class="error-desc">
  <em>Ops, pagina non trovata! Sembra che anche il nostro sito abbia perso un po' di concentrazione...</em>
</span>
<span class="error-details">
  La pagina che stavi cercando non esiste. Potresti aver scritto male l'indirizzo, oppure la pagina potrebbe essere stata spostata a un diverso URL.
  <br />
  Ritorna alla pagina principale oppure segnala il problema se pensi si tratti di un errore.
</span>
<section class="error-actions">
  <tpt-button icon="home" label="Homepage" routerLink="" />
  <tpt-button icon="open_in_new" label="Report" (click)="openIssue()" />
</section>
