// Grid
$grid-gap: 1rem;
$grid-gap-small: 0.75rem;
$grid-gap-tiny: 0.5rem;

// Separator
$separator-margin: 0.5rem;
$separator-border-radius: 8px;
$separator-border-size: 1px;

// Icons
$nav-icon-size: 2rem;
$icon-min-width: 24px;

// Label
$label-gap: 0.5rem;
$label-icon-size: 1rem;

// Clickable elements
$hover-filter: brightness(1.2);

// Text
$font-size: 2em;
$font-weight: 400;

// Stepper
$stepper-margin-top: 24px;

// Header
$header-height: 5rem;

// Section
$divider-margin: 0.125rem 0 1rem 1.5rem;

// Footer
$footer-icon-size: 1.5rem;
$footer-height: 3rem;
$footer-title-size: 2rem;
$footer-section-separation: 2rem;
$footer-item-separation: 0.5rem;

// Media queries
$desktop-large: 77.5rem; // 1240px
$desktop: 61.25rem; // 980px
$desktop-small: 53.75rem; // 860px
$desktop-tiny: 46.25rem; // 740px
$mobile-large: 40rem; // 640px
$mobile: 31.25rem; // 500px
$mobile-small: 22.5rem; // 360px
$min-width: 17.75rem; // 284px

// Theme
$tpt-color-50: #e3e3e3;
$tpt-color-100: #e3e3e3;
$tpt-color-200: #e87e0c;
$tpt-color-300: #e87e0c;
$tpt-color-400: #e3e3e3;
$tpt-color-500: #e87e0c;
$tpt-color-600: #8458b6;
$tpt-color-700: #473080;
$tpt-color-800: #e3e3e3;
$tpt-color-900: #e3e3e3;

$tpt-color-a50: #e3e3e3;
$tpt-color-a100: #e3e3e3;
$tpt-color-a200: #e3e3e3;
$tpt-color-a300: #e3e3e3;
$tpt-color-a400: #e3e3e3;
$tpt-color-a500: #000000;
$tpt-color-a600: #e3e3e3;
$tpt-color-a700: #e87e0c;
$tpt-color-a800: #e3e3e3;
$tpt-color-a900: #e3e3e3;
