@import "variables";

:host {
  > section {
    display: flex;
    width: 100%;
    height: 16rem;
    border-radius: 1rem;
    background-color: #d9d8e4;
    box-shadow: 2px 4px 8px -2px rgb(0, 0, 0);
    transition-duration: 0.2s;
    cursor: pointer;

    &:hover {
      transform: translateY(-1%);
      box-shadow: 4px 6px 8px -2px rgba(0, 0, 0, 1);
    }

    > img {
      height: 100%;
      border-radius: 1rem;
    }

    > div {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 1rem 2rem;

      > .news-card-title {
        display: flex;
        font-size: xx-large;
        justify-content: space-between;

        > span:first-child {
          color: $tpt-color-700;
          font-weight: bold;
        }

        > span:last-child {
          margin-left: 1rem;
          color: #393939;
        }
      }

      > .news-card-subtitle {
        color: #404040;
        margin-top: 0.25rem;
        margin-bottom: 1rem;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      > .news-card-preview {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 6;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    @media (max-width: $desktop) {
      > div {
        > .news-card-title {
          > span:last-child {
            display: flex;
            align-items: center;
            font-size: small;
          }
        }
      }
    }

    @media (max-width: $desktop-small) {
      > div {
        > .news-card-title {
          > span:last-child {
            display: flex;
            align-items: center;
            font-size: small;
          }
        }

        > .news-card-subtitle {
          margin-top: 1rem;
          margin-bottom: 0;
          line-clamp: 6;
          -webkit-line-clamp: 6;
        }

        > .news-card-preview {
          display: none;
        }
      }
    }

    @media (max-width: $mobile-large) {
      flex-direction: column;
      min-height: 24rem;
      height: fit-content;

      > img {
        width: 100%;
        max-height: 16rem;
        height: unset;
        object-fit: cover;
        object-position: 70% 30%;
        display: block;
      }

      > div {
        > .news-card-title {
          > span:last-child {
            display: flex;
            align-items: center;
            font-size: medium;
          }
        }

        > .news-card-subtitle {
          margin-top: 0.5rem;
          margin-bottom: 1rem;
          line-clamp: 3;
          -webkit-line-clamp: 3;
        }

        > .news-card-preview {
          display: -webkit-box;
        }
      }
    }
  }
}
